src/main/resources/htmlelements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="htmlElement" type="htmlElementType"/>
    <xs:complexType name="htmlElementType" mixed="false">
        <xs:sequence>
            <xs:element type="htmlElementType" name="htmlElement" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="findBy" use="optional"/>
    </xs:complexType>
</xs:schema>